html{
    box-sizing:border-box;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
}

body{
    padding:0;
    margin:0;
    font-size:16px;
    font-family:'Inter',sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.container{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.flex{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{
    height:100%;
    width:20%;
    background-color: crimson;
}

.nav-el{
    margin:2rem auto;
}

.nav-el ul{
    list-style-type: none;
    display: block;
    padding:0;
    margin:0 3rem;

}

.nav-el ul li{
    font-size: 18px;
    margin-top: 1.25rem;
    height:fit-content;
    transition: all ease-in-out 600ms;
}

.nav-el ul li a{
justify-items: end;
    padding-block: 6px;
    display: flex;
    text-decoration: none;
    color:#fff;
    transition: all ease-in-out 600ms;
}

.nav-el ul li a:hover{
    color:gainsboro;
}

.nav-el ul li:hover{
    border-right:3px solid gainsboro;
}


.nav-el ul li span{
    margin-right:6px;
}

.nav-el ul li span svg{
    color:#fff;
}

.nav-el ul li span svg:hover{
color:gainsboro;
}

.active{
    border-right: 3px solid gainsboro;
}

.active:active{
    border-right: 3px solid gainsboro;
}

img{
    width:100%;
    height:250px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}


.main{
    width:78%;
    height:100%;
}

.section-grid{
    width:100%;
    margin:0 auto;
}

.grid{
    width:96%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px;
    column-gap: 16px;
}

.box{
    box-shadow: 0 0 8px 0 rgb(0,0,0);
    border-radius: 16px;
    position: relative;
}

.position{
    position:absolute;
    top:6;
    left:4;
   border:2px solid crimson;
    padding:4px 6px;
    background-color: #fff;
    border-radius: 25px;
    color:crimson;
    transition: all ease-in-out 600ms;
}

.position:hover{
    background-color: crimson;
    color:#fff;
    border-style: none;
}

.info-group p{
  color:gray;
  font-weight:bold;
  font-size:12px;
  padding:0 1rem
}

.info-group p span{
    color:rgb(171, 170, 170);
}

.navigation{
    margin-bottom:0;
    padding-bottom:0;
}

.line{
    width:100%;
    height:4px;
    background-color: gainsboro;
    border-radius: 25px;
    margin:0;
}


.search h1{
    text-align: center;
    font-size:1.5rem;
}

.search-el{
    width:50%;
    margin:5px auto;
}

.search input{
    border:2px solid gray;
    width:70%;
    padding:6px 8px;
    border-radius: 8px;
}

.search-btn{
    padding:6px 12px;
    border-radius: 16px;
    border-style: none;
    background-color: crimson;
    color:#fff;
    transition: all ease-in-out 600ms;
}

.search-btn:hover{
    background-color: #fff;
    border:2px solid crimson;
    color:crimson;
}
