html{
    box-sizing:border-box;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
}

body{
    padding:0;
    margin:0;
    font-size:16px;
    font-family:'Inter',sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.container{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.flex{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{
    height:100%;
    width:20%;
    background-color: crimson;
}

.nav-el{
    margin:2rem auto;
}

.nav-el ul{
    list-style-type: none;
    display: block;
    padding:0;
    margin:0 3rem;

}

.nav-el ul li{
    font-size: 18px;
    margin-top: 1.25rem;
    height:fit-content;
    transition: all ease-in-out 600ms;
}

.nav-el ul li a{
justify-items: end;
    padding-block: 6px;
    display: flex;
    text-decoration: none;
    color:#fff;
    transition: all ease-in-out 600ms;
}

.nav-el ul li .list-anchor:hover{
    color:gainsboro;
}

.nav-el ul li:hover{
    border-right:3px solid gainsboro;
}


.nav-el ul li span{
    margin-right:6px;
}

.nav-el ul li span svg{
    color:#fff;
}

.nav-el ul li span svg:hover{
color:gainsboro;
}

.active{
    border-right: 3px solid gainsboro;
}

.active:active{
    border-right: 3px solid gainsboro;
}

.dropdown{
    position: relative;
    display: inline-block;
    transition: all ease-in-out 1s;
}

.dropdown .drop-content{
    transition: all ease-in-out 2s;
}

.drop-content{
    position: absolute;
    height:0;
    display: none;
    min-width: 220px;
    background-color: gainsboro;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: all ease-in-out 1s;
}

.drop-content .drp{
    color:rgb(215, 15, 55);
    padding-inline: 6px;
    display: block;
    width:90%;
}

.drop-content .drp:hover{
    border-right:3px solid crimson;
    color:rgba(220, 20, 60,0.6);
}

.dropdown:hover .drop-content {
    height:180px;
    display: block;
}
.line{
    width:100%;
    height:4px;
    background-color: gainsboro;
    border-radius: 25px;
    margin:0;
}


.main{
    width:78%;
    height:100%;
}


.grid {
    display: grid;
    width: 98%;
    height:100%;
    margin: 1rem 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: repeat(6, 66px);
  }

  .img1 {
    grid-column: 1/2;
    grid-row: 2/6;
  }

  .img2 {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .img3 {
    grid-column: 2/3;
    grid-row: 4/7;
  }

  .img4 {
    grid-column: 3/4;
    grid-row: 2/6;
  }

  .img5 {
    grid-column: 4/5;
    grid-row: 1/4;
  }

  .img6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }


  .box{
width:16rem;
height:14rem;
background-color: #f9f9f9;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
border-radius: 8px;
position: relative;
  }

  img{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width:100%;
    height:60%;
  }

  .grid h1{
    font-size:16px;
    color:gray;
    padding-inline: 6px;
    padding-bottom:0;
  }

  .grid p{
    font-size:14px;
    color:rgb(133, 132, 132);
    padding-inline: 6px;
  }

  .map{
    position:absolute;
    top:6;
    left:4;
   border:2px solid crimson;
    padding:4px 6px;
    background-color: #fff;
    border-radius: 25px;
    color:crimson;
    transition: all ease-in-out 600ms;
}

.map:hover{
    background-color: crimson;
    color:#fff;
    border-style: none;
}